.carddiv {
	font-weight: bold;
	line-height: 1.1;
	
	height: 172mm;
	width: 118mm;
	
	max-height: 172mm;
	max-width: 118mm;
	
	font-size: 14pt;
	
	padding: 0mm;
	
	box-sizing: content-box;
}

.cardinner {
	padding: 10px;
	margin: 10px;
	
	height: 164mm;
	width: auto;
}

.inbox {
	border: 1mm solid black;
	width: 100%;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin-left: -0.5em;
	margin-right: -0.5em;
	margin-bottom: 1em;
}

.abilitytext ul, .abilitytext ol {
	margin-left: 0em;
}

.versiondiv {
	display: none;
}

.quotediv {
	width: auto !important;
}

.setupdiv {
	margin-bottom: 0em;
}

.gameplaydiv {
	margin-bottom: 0em;
}

.advanceddiv {
	margin-bottom: 0em;
}

.abilitybox {
	border: 0px;
}

